.inventory-body {
    min-width: 100%;
    background-image: url("../../../assets/home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    }