<div class="container inventory-body">
    <!-- Header -->
    <header class="masthead" style="padding-top: 15%; padding-bottom:10%">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center px-7">
          <h1 class="mx-auto my-0 text-white text-uppercase">PlanetBeyond is a key player in the mobile ecosystem in <span class="focus" style="color: crimson">South Asia</span> and the <span class="focus" style="color: crimson">Middle East</span></h1>
          <h4 class="text-white-50 mx-auto mt-2 mb-5 px-5">We not only help leading MNOs in the region build and launch engaging habit forming digital products and services, but also enable over 650 enterprise clients leverage the power and ubiquity of mobile phones.</h4>
          
        </div>
      </div>
    </header>

   
    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">
  
        <div class="row">
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center ">
                <i class="fa fa-map  mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50" ><p > Floor, 109 East,
                    Marina Heights, Blue Area,
                    Islamabad, Pakistan
                </p></div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fa fa-envelope  mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <p>info@planetbeyond.co.uk</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fa fa-mobile mb-2"></i>
                <h4 class="text-uppercase  m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50"><p >+92-345-85900-00</p></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fa fa-twitter" ></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fa fa-github"></i>
          </a>
          
        </div>
        
  
      </div>
    </section>
  
    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright © Planetbeyond 2019
      </div>
    </footer>
</div>