<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Evaluation Process Completed</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to submit evaluation?</strong></p>
  <p>All evaluation done associated to this user would be saved in record.
  <span class="text-danger">Afterwards You will not be able to Evaluate.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.hide()">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="onConfirm()">Ok</button>
</div>