<div class="card mb-4">
    <div class="card-img-wrapper">
      <img [src]=picture class="card-img-top" alt="user">
      <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item">
          <button class="btn btn-dark" [routerLink]="['/employee_detail/',login.loginId]"  > <i class="fa fa-building"></i> </button>
        </li>
      </ul>
    </div>
    <div class="card-body p1">
        <h4 class="card-title text-center mb-1">
            <i class="fa fa-building"></i></h4>
      <h4 class="card-title text-center mb-1">
        
        {{login.employee.employeePersonalDetails.firstName | titlecase}} {{login.employee.employeePersonalDetails.lastName | titlecase}}  </h4>
    </div>
  </div> 